apiVersion: kubeadm.k8s.io/v1beta2
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ hostvars[inventory_hostname].ansible_host }}:6443
    token: xxxxx
    caCertHashes: ["sha256:xxx"]
kind: JoinConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"