---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: "external"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: 1.18.3
controlPlaneEndpoint: "{{ ansible_hostname }}:6443"
networking:
  podSubnet: {{ subnet_cidr }}
apiServer:
  extraArgs:
    runtime-config: "storage.k8s.io/v1=true"