whisk:
  ingress:
    apiHostName: {{ hostvars[inventory_hostname].ansible_host }}
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "200m"
  limits:
    actionsInvokesPerminute: 10000
    actionsInvokesConcurrent: 10000
    actions:
      time:
        min: "10ms"
        max: "15m"
        std: "5m"
  kafka:
    containerPool:
      userMemory: "4096m"
        
invoker:
  jvmHeapMB: "1024"
  containerFactory:
    impl: "kubernetes"
    
metrics:
  prometheusEnabled: true
  userMetricsEnabled: true