whisk:
  ingress:
    type: NodePort
    apiHostName: {{ hostvars[inventory_hostname].ansible_host }}
    apiHostPort: {{ node_port }}

k8s:
  persistence:
    enabled: true

nginx:
  httpsNodePort: {{ node_port }}

invoker:
  containerFactory:
    impl: "kubernetes"
    
metrics:
  prometheusEnabled: true
  userMetricsEnabled: true